<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<link rel="stylesheet" href="css/screen.css" type="text/css">
	
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="noisy">

{{ content }}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="/js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>